.root {
  width: 100%;
}
img {
  width: 40%;
  height: 40%;
}
.card-img-desc {
  display: flex;
}
hr {
  background: black;
  height: 1px;
}
.productsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 30%;
  min-height: 50px;
  height: 400px;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.card:hover {
  background-color: lightgray;
}
.card-img-desc {
  font-size: 11px;
}
.card-texts p {
  font-size: 15px;
}
.chart-text {
  margin: 8px;
  font-size: 20px;
}
.fa-spinner {
  font-size: 30px;
  color: rgb(255, 208, 0);
}
.chart {
  position: fixed;
  background-color: rgba(18, 19, 21, 0.948);
  width: 100%;
  color: rgb(255, 255, 255);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  z-index: 5;
}
.card button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
  background-color: rgba(255, 208, 0);
  color: black;
}
.card button:hover {
  background-color: rgba(18, 19, 21, 0.948) !important;
  color: white !important;
}
.fav-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.fa-shopping-cart {
  font-size: 25px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  border-bottom: 1px solid rgba(255, 208, 0);
}
.item-info {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  border-bottom: 1px solid black;
}
.cartPart1 {
  width: 50%;
}
.cartPart2 {
  width: 50%;

  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: right;
}
.MyCart-text {
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 208, 0);
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.w3-table {
  width: 50%;
  margin: auto;
}
.yan {
  text-align: center !important;
}
.cartPage-button {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(255, 208, 0);
  display: flex;
  margin: auto;
}

button:hover {
  cursor: pointer;
}
.card-fav {
  font-size: 20px;
  position: absolute;
  left: 15px;
  bottom: 16px;
}
.card-fav:hover {
  color: red;
  font-size: 20px;
  cursor: pointer;
}
